body{
  margin:0;
  padding:50px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input{
  padding: 1em;
  border: 1px solid white;
  width: 80%;
  background-color: silver;
}

ul li{
  list-style-type: none;
  background-color: silver;
  padding: 10px;
  margin-bottom:10px;
}
ul{
  padding: 0;

}

ul li{
    width: 90%;
}

ul li input{
  width: 60%;
}

ul li strong{
  width:100px;
}

ul li .edit{
  display: none;
}

ul li.edit .edit{
  display: initial;
}

ul li.edit .noedit{
  display: none;
}

button{
  padding:10px;
  border:1px solid white;
  color: black;
  background-color: silver;
}

